//- extend template
extends ../components/_noBarsTemplateBase

block noBarsContent
    .card.card-login.mx-auto.my-5
        .card-header.d-inline-flex.justify-content-center.text-white
            img(src='/img/ABC_ICON_NAVBAR.svg' alt='ABC Logo' width='auto' height='60')
            h3.mt-4 Forgot Password
        .card-body
            //- form to add email to get new token
            form#forgotPasswordForm
                .form-group
                    .form-label-group
                        p.text-center Please enter your email account to reset your passsword. You will receive an email where you can reset your password.
                .form-group
                    .form-label-group
                        input#inputForgotUserEmail.form-control(type='email' placeholder='Email Address' required='required', maxlength='50')
                        label(for='inputForgotUserEmail') Email Address
                //- button to submit request
                button.btn.btn-primary.btn-block Reset Password
        