footer.sticky-footer
    .container.my-auto
        .row.align-items-center.h-100
        
            .footer__logo.col-lg-3.pl-5.text-center.mb-2.mt-1
                img(src='/img/ABC_ICON_FOOTER.svg' alt='Icon Footer')
                
            .col-lg-5
            
            //- .copyright.text-right.text-justify.mb-auto
            .copyright.col.col-lg-4.text-center
                span Copyright &copy; ABC University Educational System

//- footer.footer
//-     .footer__logo
//-         img(src='/img/ABC_ICON_FOOTER.svg' alt='Natour logo')
//-     url.footer__nav
//-         li: a(href='#') About us
//-         li: a(href='#') Download apps
//-         li: a(href='#') Become a guide
//-         li: a(href='#') Careers
//-         li: a(href='#') Contact
//-     p.footer_copyright &copy; by Jose Jimenez. Feel free to use this project for yout own purpose. EXCEPT producing your own courses or tutorials!