// Footer component
footer.sticky-footer
    .container.my-auto
        .row.align-items-center.h-100
            //- Image in the left hand of the footer
            .footer__logo.col-lg-3.pl-5.text-center.mb-2.mt-1
                img(src='/img/ABC_ICON_FOOTER.svg' alt='Icon Footer')
                
            .col-lg-5
            
            //- Description in the right hand with the university name
            .copyright.col.col-lg-4.text-center
                span Copyright &copy; ABC University Educational System