mixin sidebarMenu(link, text, icon)
    li.nav-item
        a.nav-link(href= link)
            svg.icon-box_sidebar.mr-2.pb-1
                use(xlink:href=`/img/icons.svg#icon-${icon}`)
            span= text

#wrapper
    // Sidebar
    ul.sidebar.navbar-nav
        li.nav-item.active#dashboard
            a.nav-link(href='/home')
                svg.icon-box_sidebar.mr-2.pb-1
                    use(xlink:href=`/img/icons.svg#icon-dashboard`)
                span.font-weight-bold.text-uppercase Dashboards
        -if (user.role != 'team-maintenance')
            - if (user.role == 'admin')
                //- Administrator menu
                li.nav-item.dropdown.no-arrow
                    a#pagesDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        svg.icon-box_sidebar.mr-2.pb-1
                            use(xlink:href=`/img/icons.svg#icon-settings`)
                        span Admin Management
                        svg.icon-box_sidebar.ml-3.pb-1
                            use(xlink:href=`/img/icons.svg#icon-arrow-sidebar-down`)
                    .dropdown-menu(aria-labelledby='pagesDropdown')
                        h6.dropdown-header Management:
                        a.dropdown-item(href='/manage_users') Manage Users
                        a.dropdown-item(href='/manage_forums') Manage Forums
                        a.dropdown-item(href='/manage_announcements') Manage Announcements
                        a.dropdown-item(href='/manage_news') Manage News
                        a.dropdown-item(href='#') Manage Resources
                        .dropdown-divider
                        h6.dropdown-header System tools:
                        a.dropdown-item(href='#') Statistics
                        a.dropdown-item(href='#') System Reports
            - if (user.role == 'staff')
                //- Staff Menu  
                li.nav-item.dropdown.no-arrow
                    a#pagesDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        svg.icon-box_sidebar.mr-2.pb-1
                            use(xlink:href=`/img/icons.svg#icon-settings`)
                        span Staff Management
                        svg.icon-box_sidebar.ml-3.pb-1
                            use(xlink:href=`/img/icons.svg#icon-arrow-sidebar-down`)
                    .dropdown-menu(aria-labelledby='pagesDropdown')
                        h6.dropdown-header Management:
                        a.dropdown-item(href='/create_forum') Create Forum
                        a.dropdown-item(href='/create_topic') Create Topic
                        a.dropdown-item(href='/create_announcement') Create Announcement
                        a.dropdown-item(href='/create_news') Create News
                        .dropdown-divider
                        h6.dropdown-header System tools:
                        a.dropdown-item(href='#') System Reports

            +sidebarMenu('/forums','Discussion Forums', 'users')
            +sidebarMenu('/announcements','Announcements', 'paperclip')
            +sidebarMenu('/news','News', 'file-text')
            +sidebarMenu('/resources','Resources', 'folder')

        - else
         
            //- team maintenances
            +sidebarMenu('/manage_maintenance_requests','Maintenance Requests List', 'compass')
            +sidebarMenu('#','Send Notification', 'inbox')
            +sidebarMenu('#','Log in As - Testing', 'users')
            +sidebarMenu('#','Error Reports', 'alert-triangle')

        .dropdown-divider.mx-2
        +sidebarMenu('/my_details/me','My Details', 'user')
        +sidebarMenu('/maintenance_request','Maintenance Request', 'help-circle')