extends components/_templateBase
           
block content
    +breadcrumbDisplay([['Home','/'],['Forum']])
    
    h2 Forums
    each forum in forums
        
        //- -const creationDate = forum.createdAt.format();
        -const creationDate = moment(forum.createdAt).format('dddd DD MMM YYYY HH:mm');
        
        +cardDisplayItems(forum.type, forum.title, `${forum.user.firstName} ${forum.user.lastName}`, creationDate, `/forum/${forum.id}`, 'Forum')

    
