extends components/_templateBase
           
block content
    - const role = user.role.charAt(0).toUpperCase() + user.role.slice(1)
    
    h2 Welcome #{user.firstName} #{user.lastName} to ABC University - #{role}
    .container
        p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse neque magna, congue eget rutrum non, blandit ut elit. Fusce scelerisque malesuada metus ut facilisis. Etiam efficitur, purus sit amet venenatis ullamcorper, risus libero tempor magna, id euismod urna felis ut orci. Suspendisse finibus ante rutrum facilisis condimentum. Praesent eu eros felis. Mauris gravida dui viverra, pharetra arcu et, congue enim. Sed ipsum felis, ornare sed luctus vel, gravida non orci. Donec rhoncus pulvinar diam, vitae faucibus eros pharetra eu. Curabitur pulvinar dictum sodales. In ac aliquet lectus, at dignissim ipsum.

        p Nunc commodo risus ut auctor laoreet. Vestibulum mattis viverra est, quis sollicitudin nisi ultrices sit amet. Ut non euismod leo. Donec posuere purus at nibh commodo, mollis vestibulum mauris accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam quis dui mi. Praesent condimentum ultricies dui condimentum dignissim. Vestibulum feugiat venenatis nisl vitae varius. Etiam scelerisque tortor bibendum, placerat quam id, aliquet augue. Cras justo ligula, placerat at porta nec, bibendum eu orci. Donec blandit sodales varius.

        p In vestibulum accumsan turpis, non posuere dui. Nunc lobortis sollicitudin elit, tristique maximus arcu bibendum ac. Nunc convallis lectus odio, sit amet sagittis libero sagittis vitae. Praesent justo risus, ullamcorper vel tortor eu, aliquam pharetra magna. Phasellus id rhoncus neque, bibendum gravida quam. Mauris vehicula leo sit amet porttitor tristique. Donec sit amet velit condimentum, feugiat sapien et, auctor nunc. Vestibulum consequat tortor eu hendrerit accumsan. Nullam fermentum porttitor risus, eget hendrerit odio commodo non. Nam velit leo, mollis non iaculis sit amet, aliquam at arcu. Praesent vel sagittis ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas tincidunt euismod sapien, in aliquam magna tempor gravida. Nam eu magna a nulla scelerisque tristique. Donec elementum est velit, vitae faucibus tortor dictum nec. 



