extends baseEmail

block content

    // CONTENT
    h5 Hi #{firstName} #{lastName},
    p It has been informed us that you have not changed your password in more than 2 months. This is a security remainder to change your password. Your privacy is our continuous concern!. 
    p The button below will redirect you to ABC University Educational System, so you can change your password in 'My Details' section.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Go to ABC University Educational System
    p Kindly Regards,
    p - ABC University - Team Maintenance