//- extend the base email 
extends baseEmail

block content
    //- Email CONTENT
    h5 Hi #{firstName} #{lastName},
    p Forgot your password? No worries! You can reset you password in ABC University. To reset your password, please click on the button below to reset your new password. You only have 
        strong 24 hours to change your password
    //- Button for user to access the application
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset Your Password
    p If you didn't forget your password, please ignore this email.
    p - ABC University