extends ../components/_templateBase

block content
    
    +breadcrumbDisplay([['Home','/home'],['Manage Users','/manage_users'],['New User']])

    h2 Create New #{title}

    form#createUserForm
        .form-group.row
            label.col-sm-2.col-form-label(for='inputCreationFirstName') First Name
            .col-sm-10
                input#inputCreationFirstName.form-control(type='text' pattern="^[A-Za-z ]+$" maxlength="50"  placeholder='First Name' required='required')
        .form-group.row
            label.col-sm-2.col-form-label(for='inputCreationLastName') Last Name
            .col-sm-10
                input#inputCreationLastName.form-control(type='text' pattern="^[A-Za-z ]+$" maxlength="50"  placeholder='Last Name' required='required')
        .form-group.row
            label.col-sm-2.col-form-label(for='inputCreationEmailAddress') Email Address
            .col-sm-10
                input#inputCreationEmailAddress.form-control(type='email' maxlength="50"  placeholder='Email Address' required='required')
        .form-group.row
            label.col-sm-2.col-form-label(for='inputCreationPhoneNumber') Phone Number
            .col-sm-10
                input#inputCreationPhoneNumber.form-control(type='tel'  pattern="[0-9]{10}" minlength="10"  maxlength="10"  placeholder='Phone Number' required='required')
        .form-group.row
            label.col-sm-2.col-form-label(for='inputCreationUserRole') Role 
            .col-sm-10
                select#inputCreationUserRole.form-control(required='required')
                    option Student
                    option Staff
                    option Admin
                    option Team Maintenance
        .form-group.row
            label.col-sm-2.col-form-label(for='inputCreationUserMajor') Major 
            .col-sm-10
                select#inputCreationUserMajor.form-control(required='required')
                    option Information Technology
                    option Business
                    option Accounting
                    option Project Management
                    option NOT A MAJOR
        .form-group.row
            .col-sm-10
                button.btn.btn-primary New #{title}