//- extend template
extends ../components/_templateBase

block content
    //- Add breadcrumb
    +breadcrumbDisplay([['Home','/home'],['Login In As']])

    //- body title
    h2 Log in as View
    //- button to test users capabilities by the team maintenance
    div.w-75
        a.btn.btn-primary.btn-lg.btn-block.text-wrap.w-auto(href='/login_as_student') Login as Student 
        br
        br
        a.btn.btn-primary.btn-lg.btn-block.text-wrap.w-auto(href='/login_as_staff') Login as Staff
        br
        br
        a.btn.btn-primary.btn-lg.btn-block.text-wrap.w-auto(href='/login_as_admin') Login as Admin
