extends ../components/_templateBase

block content
    +breadcrumbDisplay([['Home','/home'],['Login In As']])

    h2 Login in as View
    div 
        a.btn.btn-primary.loginasbutton(href='/login_as_student') Login as Student 
        br
        br
        button.btn.btn-primary.loginasbutton(href='/login_as_staff') Login as Staff
        br
        br
        button.btn.btn-primary.loginasbutton(href='/login_as_admin') Login as Admin
