extends ../components/_templateBase

block content
    h2 Send a maintenance request
    form#maintenance-form
        .form-group
            .form-label-group
                input#inputSubject.form-control(placeholder='Email address' required='required' autofocus='autofocus')
                label(for='inputSubject') Email Address
        .form-group
            .form-label-group
                input#inputDescription.form-control(placeholder='Password' required='required', minlength='8')
                label(for='inputDescription') Password
        button.btn.btn-primary.btn-block Login