extends components/_templateBase
           
block content
    h2 Send a maintenance request 
    form#maintenance-form
                .form-group.form-maintenance-group
                    label.form-label(for='inputSubject') Subject
                    input#inputSubject(placeholder='Subject' required='required' autofocus='autofocus')
                    
                .form-group.form-maintenance-group
                    label.form-label(for='inputDescription') Description
                    textarea#inputDescription(placeholder='Description for the maintenance request' required='required', minlength='8')
                    

                button.btn.btn-primary#maintenance-button Submit



