extends ../components/_templateBase

block append head
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")

block append scripts
    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
    script(src='/js/databaseDesignJQuerry.js')

block content
    +breadcrumbDisplay([['Home','/home'],['News']])

    h2 News

    -if(news.length<1)
        h4.font-weight-bold.text-dark.mt-0.ml-4 No News in ABC University.
    -else
        table.table#dataTableNews.table.table-borderless.table-sm
            thead
                tr
                    th
            //-         th.text-right.px-5 Sort By Date
            tbody
                -const rows = parseInt((records/3)+1)
                -let currentRow = 1
                -let countDown = 0
                -let i = 0

                while currentRow < rows + 1

                    tr
                        td
                            .card-deck

                                -for(let iterator = 0; iterator < 3; iterator++)

                                    -for(; i<countDown+3; i++)

                                        //- each newElement in news 
                                        -if( i > records-1) 
                                            .card.border-0              

                                        -else
                                            -const creationDate = moment(news[i].createdAt).format('dddd DD MMM YYYY HH:mm')

                                            +cardDisplayItems(news[i].type, `${news[i].title}`, `${news[i].user.firstName} ${news[i].user.lastName}`, creationDate, `/news/${news[i].slug}`, 'New')
                    -currentRow++
                    -countDown += 3