extends ../components/_templateBase

block content
    +breadcrumbDisplay([['Home','/home'],['Report Generation']])

    h2 Report Generation
    .row.h3.mb-4.text-center
        .col-sm    
            a.btn.btn-success.reportGenerationBtn(href="/report_generation/user-statistics" target="_blank") Generate User Report
        .col-sm
            a.btn.btn-primary.reportGenerationBtn(href="/report_generation/forum-statistics" target="_blank") Generate Forum Report
        .col-sm    
            a.btn.btn-warning.reportGenerationBtn(href="/report_generation/topic-statistics" target="_blank") Generate Topic Report
    .row.h3.mb-4.text-center
        .col-sm    
            a.btn.btn-danger.reportGenerationBtn(href="/report_generation/article-statistics" target="_blank") Generate Announcement Report
        .col-sm 
            a.btn.btn-info.reportGenerationBtn(href="/report_generation/article-statistics" target="_blank") Generate News Report
        .col-sm
            a.btn.btn-dark.reportGenerationBtn(href="/report_generation/resource-statistics" target="_blank") Generate Resource Report

