extends ../components/_noBarsTemplateBase

block noBarsContent

    //- h1= user.email
    .card.card-login.mx-auto.my-5
        .card-header.d-inline-flex.justify-content-center.text-white
            img(src='/img/ABC_ICON_NAVBAR.svg' alt='ABC Logo' width='auto' height='60')
            h3.mt-4 Reset Password
        .card-body
            form#resetPasswordForm
                input#hiddenResetToken.d-none(value=`${token}`) 
                .form-group
                    .form-label-group
                        p.text-center Please enter a new password in order to log in ABC University
                .form-group
                    .form-label-group
                        input#inputNewPassword.form-control(type='password' placeholder='New Password' required='required', minlength='8')
                        label(for='inputNewPassword') New Password
                .form-group
                    .form-label-group
                        input#inputConfirmPassword.form-control(type='password' placeholder='Confirm Password' required='required', minlength='8')
                        label(for='inputConfirmPassword') Confirm Password
                button.btn.btn-primary.btn-block Login
            .text-center
        