//- extend template
extends ../components/_templateBase

block content
    //- Add breadcrumb
    +breadcrumbDisplay([['Home','/home'],['Send Notifications']])

    //- body title
    h2 Send Notifications

    //- if the user is part of the team maintenance, then it can be send a notification to chage password
    if user.role == 'team-maintenance'
        //- body subtitle
        h3 Change Password
        
        div
            p.text-muted Notifies all users who have not changed their passwords in the last 2 months. 
            button.btn.btn-primary#sendNotificationChangePasswordBtn(data-element-type="passwordChange") Email Change Password Notification
    
    //- body subtitle
    h3 Email Notification
    //- form to send email with the notification
    form#sendNotificationFromMaintenanceForm
        //- subject input 
        .form-group.row
            label.col-sm-2.col-form-label(for='inputNoticationSubject') Subject
            .col-sm-10
                input#inputNoticationSubject.form-control(type='text' maxlength="150"  placeholder='Subject' required='required')
        //- notification description
        .form-group.row
            label.col-sm-2.col-form-label(for='inputNoticationDescription') Description <br/> 
                p.text-muted (max: 1500 characters)
            .col-sm-10
                textarea#inputNoticationDescription.form-control(type='text'  rows="5" maxlength="1500" placeholder=`Description (max: 1500 characters)` required='required')
        //- button to send notification
        .form-group.row
            .col-sm-10
                button.btn.btn-primary Email Notification

